<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIExpenseManagementApplication">

        <!-- Splash Screen -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Authentication -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.VerifyEmailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.VerifyMobileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.VerifyOtpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.auth.CreatePasswordActivity"
            android:windowSoftInputMode="adjustResize" /> <!-- Dashboard -->
        <activity
            android:name=".ui.dashboard.PersonalDashboardActivity"
            android:windowSoftInputMode="adjustResize" /> <!-- Expense -->
        <activity
            android:name=".ui.expense.ExpenseListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.expense.AddExpenseActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.expense.EditExpenseActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.expense.ExpenseDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Income -->
        <activity
            android:name=".ui.income.AddIncomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.income.EditIncomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.income.IncomeDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.income.IncomeListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Budget -->
        <activity
            android:name=".ui.budget.BudgetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.budget.SetBudgetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.budget.EditBudgetActivity"
            android:windowSoftInputMode="adjustResize" /> <!-- Reports -->
        <activity
            android:name=".ui.report.ReportActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.profile.ChangeMobileVerificationActivity"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>